.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    border-radius: 15px;
    background-color: rgba(220, 220, 220, 1);
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  }
  
  img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 300px;
  }
  
  .cardContainer {
    padding: 0px 10px;
  }

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);    
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

h6 {
    color: lightblue;
}

hr {
  border: 2px solid black;
}